@import "tailwindcss";
@import "./themes.css";

@layer components {
    .animate-toast-progress {
        animation-name: toast-progress;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
}

@keyframes toast-progress {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

@keyframes enter {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes leave {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}